{% extends "base.html" %}
{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Bienvenue chez "Original Food"</h2>
    <div class="card">
        <p>Venez découvrir notre délicieux menu de spécialités kebabs et burgers, préparés avec soin pour satisfaire toutes vos envies gourmandes. Que vous soyez fan de notre classique Kebab, tenté par notre savoureux Kebab au cheddar, ou à la recherche d'un burger généreux, notre menu vous offre une variété de choix alléchants. Chez "Original Food", chaque plat est préparé avec des ingrédients frais et de qualité, pour une expérience gustative incomparable. Laissez-vous tenter par nos délices et régalez-vous chez nous !</p>
    </div>
{% endblock %}
