{% extends "base.html" %}

{% block title %}Nous Contacter{% endblock %}

{% block content %}
    <div class="contact-card">
        <h2>Nous Contacter</h2>
        <p>Pour toute demande d'informations ou de réservations, veuillez nous contacter :</p>
        <ul class="contact-list">
            <li>Téléphone : 04 71 45 73 99</li>
            <li>Email : contact@restaurant-kebab.com</li>
            <li>Adresse : 22 Rue Félix Ramond, 15130 Arpajon-sur-Cère</li>
        </ul>
    </div>
{% endblock %}
