{% extends "base.html" %}
{% block title %}Menu{% endblock %}

{% block content %}
    <h2>Notre Menu</h2>

    <!-- Sandwich -->
    <div class="menu-category">
        <h3 class="category-title">Sandwich :</h3>

        <div class="menu-items-wrapper">
            <div class="menu-item">
                <h4>Kebab :</h4>
                <p>Seul: 6.50€ / +Frites: 7.50€ / Menu: 9.00€</p>
            </div>

            <div class="menu-item">
                <h4>Kebab au cheddar :</h4>
                <p>Seul: 7.00€ / +Frites: 8.00€ / Menu: 9.50€</p>
            </div>

            <div class="menu-item">
                <h4>Kebab au cantal :</h4>
                <p>Seul: 7.50€ / +Frites: 8.50€ / Menu: 10.00€</p>
            </div>

            <div class="menu-item">
                <h4>Americain :</h4>
                <p>Seul: 6.50€ / +Frites: 7.50€ / Menu: 9.00€</p>
            </div>

            <div class="menu-item">
                <h4>Buffallo :</h4>
                <p>Seul: 7.00€ / +Frites: 8.00€ / Menu: 9.50€</p>
            </div>

            <div class="menu-item">
                <h4>Penial :</h4>
                <p>Seul: 6.50€ / +Frites: 7.50€ / Menu: 9.00€</p>
            </div>

            <div class="menu-item">
                <h4>Köfle :</h4>
                <p>Seul: 6.50€ / +Frites: 7.50€ / Menu: 9.00€</p>
            </div>

            <div class="menu-item">
                <h4>Merguez :</h4>
                <p>Seul: 6.50€ / +Frites: 7.50€ / Menu: 9.00€</p>
            </div>
        </div>
    </div>

    <!-- Chickens -->
    <div class="menu-category">
        <h3 class="category-title">Chickens :</h3>

        <div class="menu-items-wrapper">
            <div class="menu-item">
                <h4>6 nuggets :</h4>
                <p>Seul: 4.00€ / +Frites: 5.00€ / Menu: 6.50€</p>
            </div>

            <div class="menu-item">
                <h4>5 tenders :</h4>
                <p>Seul: 6.50€ / +Frites: 7.50€ / Menu: 9.00€</p>
            </div>

            <div class="menu-item">
                <h4>6 wings :</h4>
                <p>Seul: 6.00€ / +Frites: 7.00€ / Menu: 8.50€</p>
            </div>

            <div class="menu-item">
                <h4>4 mozza :</h4>
                <p>Seul: 4.00€ / +Frites: 5.00€ / Menu: 6.50€</p>
            </div>

            <div class="menu-item">
                <h4>4 bouchée camembert :</h4>
                <p>Seul: 3.00€ / +Frites: 4.00€ / Menu: 5.50€</p>
            </div>
        </div>
    </div>

    <!-- Frites -->
    <div class="menu-category">
        <h3 class="category-title">Frites :</h3>

        <div class="menu-items-wrapper">
            <div class="menu-item">
                <h4>Frites :</h4>
                <p>3.00€</p>
            </div>

            <div class="menu-item">
                <h4>Frites fromagères :</h4>
                <p>4.00€</p>
            </div>

            <div class="menu-item">
                <h4>Frites cheddars :</h4>
                <p>4.00€</p>
            </div>
        </div>
    </div>

    <!-- Kids Menu -->
    <div class="menu-category">
        <h3 class="category-title">Kids Menu :</h3>

        <div class="menu-items-wrapper">
            <div class="menu-item">
                <h4>Une boîte de frite avec 4 nuggets + 1 Capri Sun :</h4>
            </div>
        </div>
    </div>

    <!-- Bowl -->
    <div class="menu-category">
        <h3 class="category-title">Bowl :</h3>

        <div class="menu-items-wrapper">
            <div class="menu-item">
                <h4>Taille: Médium 8.00€ / Large 10.00€ / Végétarien 7.00€ :</h4>
                <p>Supplément: +1.00€ (Cheddar, Camembert, Mozza, Cantal, Chèvre miel, Raclette, Emmental, ...)</p>
                <p>Supplément: +0.00€ (Oignon, Oignon fries)</p>
            </div>
        </div>
    </div>

    <!-- Tacos -->
    <div class="menu-category">
        <h3 class="category-title">Tacos :</h3>

        <div class="menu-items-wrapper">
            <div class="menu-item">
                <h4>Médium :</h4>
                <p>Seul: 7.00€ / +Frites: 8.00€ / Menu: 9.50€ / Gratinage: 1.00€</p>
            </div>

            <div class="menu-item">
                <h4>Large :</h4>
                <p>Seul: 8.00€ / +Frites: 9.00€ / Menu: 10.50€ / Gratinage: 1.50€</p>
            </div>

            <div class="menu-item">
                <h4>XL :</h4>
                <p>Seul: 10.00€ / +Frites: 11.00€ / Menu: 12.50€ / Gratinage: 2.00€</p>
            </div>
        </div>
    </div>

    <!-- Burger -->
    <div class="menu-category">
        <h3 class="category-title">Burger :</h3>

        <div class="menu-items-wrapper">
            <div class="menu-item">
                <h4>Végétarien :</h4>
                <p>Seul: 5.50€ / +Frites: 6.50€ / Menu: 8.00€</p>
            </div>

            <div class="menu-item">
                <h4>Crousty :</h4>
                <p>Seul: 6.00€ / +Frites: 7.00€ / Menu: 8.50€</p>
            </div>

            <div class="menu-item">
                <h4>Chicken :</h4>
                <p>Seul: 6.00€ / +Frites: 7.00€ / Menu: 8.50€</p>
            </div>

            <div class="menu-item">
                <h4>Cheese :</h4>
                <p>Seul: 5.50€ / +Frites: 6.50€ / Menu: 8.00€</p>
            </div>
        </div>
    </div>
{% endblock %}
